.paper_title {
    color: #00239F !important;
}
//.header-bar-title {
//    font-size: 5px;
//    text-align: left;
//}
//.header-bar-menu {
//    font-size: 10px;
//    text-align: right;
//}
.bullets:first-letter {
    text-transform: capitalize;
  }
.footer {
  background-color: #ffffff !important;
  color: black !important;
  text-align: left !important;
}
    .fb-icon {
      margin-left: 15px  !important;
    }
    .twitter-icon {
      margin-left: 15px  !important;
    }
    .yt-icon {
      margin-left: 15px  !important;
    }


